In [14]:
import pandas as pd
import numpy as np

In [15]:
print(pd.__version__)

2.3.2

In [16]:
path = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(path)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [17]:
print("the dataset number of rows is :", len(df))

the dataset number of rows is : 9704

In [18]:
print("the number of fuel types is: ",df["fuel_type"].nunique())

the number of fuel types is:  2

In [19]:
print("Missing values in the dataset:\n",df.isnull().sum())

Missing values in the dataset:
 engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [20]:
print("Max fuel efficiency by origin: ",df.groupby('origin')['fuel_efficiency_mpg'].max().round(2))

Max fuel efficiency by origin:  origin
Asia      23.76
Europe    25.97
USA       24.97
Name: fuel_efficiency_mpg, dtype: float64

In [21]:
median_horsepower = df["horsepower"].median()
most_frequent = df["horsepower"].mode()[0]
df["horsepower"] = df["horsepower"].fillna(most_frequent)
updated_median = df["horsepower"].median()
print("the median is : ",median_horsepower)
print("updated median is: ",updated_median)

if median_horsepower > updated_median:
    print("The median decreased")
elif median_horsepower < updated_median:
    print("The median increased")
else:
    print("The median is the same")

the median is :  149.0
updated median is:  152.0
The median increased

In [22]:
df_asia = df[df["origin"]== "Asia"]
df_subset = df_asia[["vehicle_weight", "model_year"]].head(7)
X = df_subset.to_numpy()
#multiply X with its transpose and call the result XTX
XTX = np.dot(X.T, X)
#invert XTX and call the result XTX_invert
XTX_invert = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = np.dot(XTX_invert, np.dot(X.T, y))
# the sum is : 
print("sum of w array is : ", sum(w))

sum of w array is :  0.518770908107399